<!-- dashboard.component.html -->
<div class="dashboard-container">
    <div class="data-card">
      <div class="icon"><i class="bi bi-person-fill"></i></div>
      <div class="data">{{ totalStudents }}</div>
      <div class="label">Total Students</div>
    </div>
    <div class="data-card">
      <div class="icon"><i class="bi bi-person-badge-fill"></i></div>
      <div class="data">{{ totalTeachers }}</div>
      <div class="label">Total Teachers</div>
    </div>
    <div class="data-card">
      <div class="icon"><i class="bi bi-building"></i></div>
      <div class="data">{{ totalClasses }}</div>
      <div class="label">Total Classes</div>
    </div>
  </div>
  